/* comment */
@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');	
body {
	color: #a16262;
	background-color: #0e0c10;
#container{ width: 550px;
	margin: 0 auto;

}

h1 {

	color: darkred;
	font-family: arial rounded mt bold, verdana;
	border: 12px solid black;
	padding: 12px;
	text-align: center;
	border border-radius: 23px;

}
p{font-family: Tagesschrift}
a{color:Red;

}

